* {
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
  padding: 20px;
  background: #f1f1f1;
  margin: 0;
}

header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.brand {
  font-size: 1.7em;
}

/* Create two unequal columns that floats next to each other */
.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.profile-image-container {
  display: flex;
  justify-content: center;
}

.profile-image-container img {
  width: 80%;
  object-fit: contain;
  border-radius: 50%;
}

.about {
  padding: 0.5em;
}

.about p {
  font-size: small;
}

.posts {
  width: 100%;
  padding: 20px;
  padding: 0;
}

.posts a {
  color:  #000;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.posts a:hover {
  color: #777;
}

article {
  background-color: white;
  padding: 20px 40px;
  margin-top: 20px;
}

article p {
  line-height: 1.5em;
}

.article-header {
  margin-bottom: 0;
  margin-top: 0;
}

.article-subheader {
  margin: 0 0 1em 0;
  font-weight: normal;
}

.article-img-container 
{
  height: 200px;
  width: 100%;
}

.article-img {
  object-fit: cover;
  width: 100%;
  height: 100%; 
}

/* For setting individual object position depending on the img */
#purpose-img 
{
  object-position: 80% 20%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for containers */
.card {
  background-color: white;
  padding: 20px 30px;
  margin-top: 20px;
}

.card h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.card h3 {
  margin-top: 0;
}

/* Clear floats after the columns */
main:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

footer p
{
  margin-top: 0;
}

small {
  color: #777;
  margin: auto 1em;
}

.social-icon {
  color:  #000;
  transition: color 0.2s;
  text-decoration: none;
}

.social-icon:hover {
  color: #777;
}

@media screen and (min-width: 1200px) { 
  body {
    padding: 20px 135px;
  }
 }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }

  .profile-image-container img {
    width: 60%;
  }

  .brand {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 576px) 
{
  .brand
  {
    font-size: 0.8em;
  }

  .profile-image-container img {
    width: 70%;
  }
}

